body {
  margin: 0px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  height: 100%;
}

html {
  height: 100%;
}
/*

img {
  float: left;
  padding-right: 10px;
}
*/

.circle {
    border-radius: 50%;
}

.type1 {
    display: block;
    box-sizing: border-box;
    font-size: .6125rem;
    width: 3.25rem;
    line-height: 3.25rem;
    height: 3.175rem;
    background: rgba(5,90,90,0.8);
    text-align: center;
    vertical-align: middle;
    margin-bottom: 5px;
}

.fa {
    display: inline-block;
    vertical-align: middle;
}

#leftBar {
    z-index: 1000;
}

#add-route {
    cursor: pointer;
}

#about {
    cursor: pointer;
}

#cancel {
    cursor: pointer;
}

.icon-hover:hover {
    background: rgba(0,80,80,1);
}

.icon-click {
    background: rgba(10,210,150,1);
}

#add-point {
    display:inline-block;
    cursor: pointer;
}

p {
  font-size: 15px;
  line-height: 25px;
}

h1 {
  line-height: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: lighter;
}

main {
    height: 100%;
    width: 100%;
}

section {
  display: block;
  height: 100%;
  width: 100%;
}

iframe {
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.legend-elements {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 16px;
  color: black;
  text-indent: 55px;
}

.legend-style {
  position:relative;
  width: 250px;
  background-color: white;
  border:0.5px solid #000;
  padding: 0px 10px;
  border-radius: 2px;
  font-size: 16px;
  padding: 7px;
  margin: 10px;
}


.bikeway-legend-class1 {
  position:absolute;
  left: 5%;
  top: 15%;
  background: #258807;
  width: 30px;
  height: 5px;
  border-radius: 0%;
}

.bikeway-legend-class2 {
  position:absolute;
  left: 5%;
  top: 43%;
  background: #fa9857;
  width: 30px;
  height: 5px;
  border-radius: 0%;
}

.bikeway-legend-class3 {
  position:absolute;
  left: 5%;
  top: 72%;
  background: #9f0909;
  width: 30px;
  height: 5px;
  border-radius: 0%;
}


button {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 28px;

}

.btn {
  background-color: #00BCD4;
  color: white;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  padding: 7px;
  margin: 10px;
  max-width: 300px;
}


.btn-danger {
  background-color: #00BCD4;
  color: white;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  padding: 7px;
  margin: 10px;
  width: 250px;
}

.btn-primary {
  background-color: #00BCD4;
  color: white;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  padding: 7px;
  margin: 10px;
  max-width: 300px;
}

#survey {
    background: rgba(0,0,0,0.9);
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#survey.hide {
    opacity: 0;
    transform: scale(0,0);
    transition: .75s all ease-in-out .75s;
}

#survey.remove {
    display: none;
}

#wrapper {
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

#controls {
  width: 100%;
  margin: 0 auto;
  float: left;
}

#form {
  margin-top: 5px;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  width:375px;
  float: left;
}

#header {
  margin-top: 0px;
  margin-bottom: 0px;
}

#credits p {
  margin-top: 5px;
  font-size: 12px;
  text-align: right;
  line-height: 16px;
}


.j-leaflet-draw-tooltip{
	visibility: visible;
}

.pointing{
	cursor: pointer;
}
